@model Mvc1.Models.USerModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PakClassified - Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>

<body>

    <div class="modal fade" id="Signup" tabindex="-1" role="dialog" aria-labelledby="Login-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="Login-label">Login</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Signup", "Login", FormMethod.Post))
                    {
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                @Html.TextBox("LoginId",null, new { required = "required", @class = "form-control", placeholder = "Login Id" })
                                <span class='form-control-feedback'></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                @Html.Password("Password",null, new { required = "required", @class = "form-control", placeholder = "Password",type="number" })
                                <span class='form-control-feedback'></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                @Html.TextBox("FullName",null, new { required = "required", @class = "form-control", placeholder = "FullName" })
                                <span class='form-control-feedback'></span>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                @Html.TextBox("DoB",null, new { required = "required", @class = "form-control",type="date", placeholder = "Date of Birth" })
                                <span class='form-control-feedback'></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                @Html.TextBox("Mail",null, new { required = "required", @class = "form-control", placeholder = "E-Mail" })
                                <span class='form-control-feedback'></span>
                            </div>
                        </div>


                        <div class="form-group" style="margin:10px 0px;">
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> SignUp </button>
                        </div>
                        
                    }
                </div>

            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#Signup").modal();
            $(".form-control:required").blur(function () {
                if ($(this).val() == 0) {
                    $(this).parent().addClass("has-error");
                    $(this).parent().removeClass("has-success");
                }
                else {
                    $(this).parent().addClass("has-success");
                    $(this).parent().removeClass("has-error");
                }
            });

        });
    </script>
    }



</body>
</html>